body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.toggle-button:focus {
  outline: none;
}